

*{
  font-family: 'Poppins', sans-serif;
}
.h-font{
  font-family: 'Merienda', cursive;
}



.custom-bg{
  background-color: var(--teal);
  border: 1px solid var(--teal);
}
.custom-bg:hover{
  background-color: var(--teal_hover);
  border-color: var(--teal_hover);
}




